body {
    background-color: #b3d9db;
}

h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.clicker-wrapper {
    width: 100%;
    display: flex
}

.expand {
    height: 80vmin;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicker-text {
    font-size: 30px;
    overflow: wrap;
    white-space: initial;
    word-break: break-all;
}

@media (min-width: 600px) and (max-width: 1600px) {
    .clicker-text {
        font-size: 5vw;
    }
}

@media (min-width: 1600px) {
    .clicker-text {
        font-size: 80px;
    }
}

#timer {
    font-size: 40px;
}

#tug-outside {
    background-color: green;
    display: flex;
    height: 50px;
    justify-content: center;
}

#tug-inside {
    background-color: pink;
    width: 60%;
    height: 100%;
}

#tug-marker {
    width: 2px;
    background-color: red;
    height: 100%;
    position: relative;
    left: calc(50% - 2px)
}