<!--clicker.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>This is the clicker!</h1>
<h1>Id: {{ .id }}</h1>
<h1>Question: {{ .question }}</h1>
<h1>Name: {{ .name }}</h1>
<h1>Personal Id: {{ .participantId }}</h1>



<button type="submit" onclick="handleClick(true)" class="btn btn-primary">{{ .firstOpt }}</button>
<button type="submit" onclick="handleClick(false)" class="btn btn-warning">{{ .secondOpt }}</button>

<div id="dynamic"></div>
<script src="assets/js/clicker.js"></script>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}