<!--clicker.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<script>
    var _lobbyId = {{ .id }}
    var _participantId = {{ .participantId }}
</script>
<h1>Question: {{ .question }}</h1>
<div class="clicker-wrapper">
    <div class="btn btn-primary expand" id="first-opt">
        <p class="clicker-text">{{ .firstOpt }}</p>
    </div>
    <div class="btn btn-warning expand" id="second-opt">
        <p class="clicker-text">{{ .secondOpt }}</p>
    </div>
</div>


<script type="module" src="assets/js/clicker.js"></script>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}