<!--index.html-->
{{ template "header.html" .}}
{{ template "navbar.html" .}}


<div class="bg-light py-3 flex-grow-1 fill">
    <div class="container">
        <div class="container">
            <h1 class="display-4">Welcome! </h1>
            <p class="text-danger">{{ .err }}</p>
            <form action="/lobby/">
                <div class="form-group">
                    <label for="question">Question</label>
                    <input type="text" class="form-control" id="question" name="question"
                        placeholder="What's heavier, a kilogram of steel or a kilogram of feathers?" required>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="first-opt">First Option</label>
                            <input type="text" class="form-control" id="first-opt" name="first-opt" placeholder="Steel"
                                required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="second-opt">Second Option</label>
                            <input type="text" class="form-control" id="second-opt" name="second-opt"
                                placeholder="Feathers" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Create Lobby</button>
        </div>
    </div>
</div>
</form>

<script src="assets/js/index.js"></script>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}