<!--lobby.html-->

{{ template "header.html" .}}
{{ template "navbar.html" .}}

<script>
    var _lobbyId = {{ .lobbyId }};
    var _firstOpt = {{ .firstOpt }};
    var _secondOpt = {{ .secondOpt }};
    var _qrCodeUrl = "http://" + window.location.host + {{ printf "/clicker/?lobbyId=%s" .lobbyId }};
</script>
<script type="text/javascript" src="static/js/qrcode.min.js"></script>
<div class="bg-light py-3 flex-grow-1 fill">
    <div class="container">
        <div class="container">
            <h1 class="display-4">Welcome! </h1>
            <p class="lead">Question: {{ .question }}</p>
            <h2 class=" display-4 text-danger lead d-flex justify-content-between"><span
                    class="badge badge-info">{{ .firstOpt }}</span> vs. <span
                    class="badge badge-warning">{{ .secondOpt }}</span></h2>

            <hr class="my-4">
            <div class="row before">
                <div class="col-8">
                    <a id="qrcode-link">
                        <div id="qrcode" class="p-3 d-flex justify-content-center"></div>
                    </a>
                    <p>This lobby has yet to start. Join the lobby by scanning the QR-Code with your phone.</p>
                    <p>You can start the lobby by pressing the start button below.</p>
                    <p>The lobby will end when the stop button is pressed or the marker exits the pink rectangle it is
                        enclosed
                        within
                    </p>
                    <p>The marker will become more volatile the longer the lobby is running, so make sure you keep
                        tapping!</p>

                </div>
                <div class="col-4">
                    <table class="table">
                        <thead class="">
                            <tr>
                                <th scope="col ">Participants</th>
                            </tr>
                        </thead>
                        <tbody id="player-list">
                            <tr id="player-list-empty">
                                <td id="player-list-default">
                                    <p> There doesn't seem to be anyone in here yet :(</p>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>



            </div>

            <div class="during">

                <div id="tug-outside">
                    <div id="tug-inside">
                        <div id="tug-marker"></div>
                    </div>
                </div>
            </div>
            <div class="after">
                <p id="winner"></p>
                <table id="scoreboard" class="table">
                </table>

            </div>
            <p class="lead">
                <a class="btn btn-primary btn-lg before" href="#" id="start-btn" role="button">Start</a>
                <a class="btn btn-danger btn-lg during" href="#" id="stop-btn" role="button">Stop</a>
            </p>
        </div>
    </div>
    <div id="timer-bottom" class="timer-bg bg-secondary position-absolute row">
        <h1 class="timer-val display-1 text-dark">4</h1>
    </div>
    <div id="timer-top" class="timer-bg bg-light position-absolute row">
        <h1 class="timer-val display-1 text-dark">4</h1>
    </div>
</div>


<script type="module" src="static/js/lobby.js"></script>
<script type="text/javascript">
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        width: 200,
        height: 200
    });

    qrcode.makeCode(_qrCodeUrl);
    document.getElementById("qrcode-link").setAttribute("href", _qrCodeUrl);

</script>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}